<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type"
		content="text/html; charset=utf-8">
		<title>New ob`javlenie - Bboard of Anton</title>
	</head>
	<body>
		<h1>Dobavlenie ob`javlenia</h1>
		<div>
			<a href="{% url 'index' %}">Main</a>
			{% for rubric in rubrics %}
			<a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
			{% endfor %}
		</div>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Add new!">
		</form>
	</body>
</html>